<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>

  <!-- custom css file link -->
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <!-- header section start-->

  <!-- header section start-->
  <header class="header">
    <section class="flex">
      <div id="menu-btn" class="fas fa-bars-staggered"></div>
      <a href="/index" class="logo"><i class="fas fa-briefcase"></i><b>JobManch</b></a>
      <nav class="navbar">
        <a href="/index">Home</a>
        <a href="/jobs">Jobs</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
        <a href="/login">Log In / Register</a>
      </nav>
    </section>
  </header>
  <!-- header section ends-->


  <!-- header section ends-->

  <!-- about us section starts-->

  <div class="section-title">About Us</div>

  <section class="about">

    <div class="box">
      <h3> Why Choose Us?</h3>
      <p>Welcome to JobManch, your trusted partner in career advancement and talent acquisition. At JobManch, we believe
        that the right job can transform lives and the right person can transform a business.
        Our mission is to bridge the gap between job seekers and employers by providing a seamless, user-friendly
        platform that caters to the needs of both parties. We aim to empower individuals to find fulfilling careers and
        help companies build dynamic, innovative teams. </p>
      <a href="/contact" class="btn">Contact Us</a>
    </div>
  </section>


  <!-- about us section ends-->



  <!-- footer starts-->

  <footer class="footer">
    <section class="grid">
      <div class="box">
        <a href="index.html" class="logo"><i class="fas fa-briefcase"></i> <b>JobManch</b>
        </a>
      </div>

      <div class="box">
        <h3>Quick links</h3>
        <a href="/index"><i class="fas fa-angle-right"></i> home</a>
        <a href="/jobs"><i class="fas fa-angle-right"></i> jobs</a>
        <a href="/contact"><i class="fas fa-angle-right"></i>Contact</a>
        <a href="/about"><i class="fas fa-angle-right"></i>About</a>
      </div>

      <div class="box">
        <h3>extra links</h3>
        <a href="/login"><i class="fas fa-angle-right"></i> login</a>
        <a href="/register"><i class="fas fa-angle-right"></i> register</a>
        <a href="#"><i class="fas fa-angle-right"></i> dashboard</a>
      </div>
      <div class="follow-us">
        <h3>Follow us</h3>
        <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </section>

    <div class="credit">
      &copy; copyright @2024 by <span>JobManch</span> | all rights reserved !
    </div>
  </footer>

  <!--footer ends-->

  <!-- custom js file link  -->

  <script src="script.js"></script>
</body>

</html>