<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>

  <!-- custom css file link -->
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" />
</head>

<body>
  <!-- header section start-->
  <header class="header">
    <section class="flex">
      <div id="menu-btn" class="fas fa-bars-staggered"></div>
      <a href="/index" class="logo"><i class="fas fa-briefcase"></i><b>JobManch</b></a>
      <nav class="navbar">
        <a href="/index">Home</a>
        <a href="/jobs">Jobs</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
        <a href="/login">Log In / Register</a>
      </nav>
    </section>
  </header>
  <!-- header section ends-->
  <!-- dashboard start from here -->
  <section>
    <div class="dashboard">
      <button class="btn-1">Create Jobs</button>
      <button class="btn-2">Update Jobs</button>
      <button class="btn-3">Delete jobs</button>
      <button class="btn-4">Edit jobs</button>
    </div>
  </section>