<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Credentials!</title>
</head>
<link rel="stylesheet" href="/static/style.css">

<style>

</style>


<body>


    <div class="heading" style="background-color: red;">
        <h3>Invalid Credentials!</h3>
    </div>
    <div class="fail-message">
        <img src="/static/invalidCredentials.svg" alt="No User image" style="width: 100%; height: 100%;">
        <p>Check Credentials and <a href="/login" style="color:darkseagreen">Try Again</a></p>
    </div>
</body>

</html>