<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>

  <!-- custom css file link -->
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <!-- header section start-->

  <header class="header">
    <section class="flex">
      <div id="menu-btn" class="fas fa-bars-staggered"></div>

      <a href="/index" class="logo"><i class="fas fa-briefcase"></i> JobManch</a>

      <nav class="navbar">
        <a href="/index">Home</a>
        <a href="/jobs">Jobs</a>
        <a href="/login">Account</a>
      </nav>
    </section>
  </header>

  <!-- header section ends-->

  <!-- ACCOUNT SECTION STARTS-->
  <div class="account-form-container">
    <section class="account-form">

      <form method="POST">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Name:</label>
        <input type="text" id="password" name="password" required><br>

        <input type="submit" value="Submit">
      </form>

      <p>Don't have an account? <a href="/register">Register now</a></p>
      <a href="/jobs"><input type="button" value="login now" name="submit" class="btn" /></a>
      <p>Or login with:</p>

      <div class="social-login">
        <button type="button" class="btn google">
          <i class="fab fa-google"></i> Google
        </button>
        <button type="button" class="btn github">
          <i class="fab fa-github"></i> GitHub
        </button>
        <button type="button" class="btn linkedin">
          <i class="fab fa-linkedin"></i> LinkedIn
        </button>
      </div>
      </form>
    </section>
  </div>

  <!-- ACCOUNT SECTION END-->

  <!-- footer starts-->

  <footer class="footer">
    <section class="grid">
      <div class="box">
        <h3>Quick links</h3>
        <a href="home.html"><i class="fas fa-angle-right"></i> home</a>
        <a href="about.html"><i class="fas fa-angle-right"></i> about us</a>
        <a href="jobs.html"><i class="fas fa-angle-right"></i> jobs</a>
        <a href="contact.html"><i class="fas fa-angle-right"></i> contact us</a>
        <a href="#"><i class="fas fa-angle-right"></i> filter search</a>
      </div>

      <div class="box">
        <h3>extra links</h3>
        <a href="#"><i class="fas fa-angle-right"></i> account</a>
        <a href="login.html"><i class="fas fa-angle-right"></i> login</a>
        <a href="register.html"><i class="fas fa-angle-right"></i> register</a>
        <a href="#"><i class="fas fa-angle-right"></i> dashboard</a>
      </div>
    </section>

    <div class="credit">
      &copy; copyright @2024 by <span>JobManch</span> | all rights reserved !
    </div>
  </footer>

  <!--footer ends-->

  <!-- custom js file link  -->

  <script src="script.js"></script>
</body>

</html>