<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>

    <!-- custom css file link -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="account-form-container">
      <section class="account-form">
        <form action="" method="post">
          <h3>Profile</h3>
          <input
            type="text"
            required
            name="name"
            maxlength="50"
            placeholder=" Name"
            class="input"
          />
          <input
            type="email"
            required
            name="email"
            maxlength="50"
            placeholder=" Email"
            class="input"
          />
          <input
            type="password"
            required
            name="pass"
            maxlength="20"
            placeholder=" Password"
            class="input"
          />
          <input
            type="date"
            required
            name="dob"
            maxlength="20"
            placeholder=" Date of birth"
            class="input"
          />
          <input
            type="text"
            required
            name="name"
            maxlength="50"
            placeholder=" City"
            class="input"
          />
          <input
            type="text"
            required
            name="name"
            maxlength="50"
            placeholder=" State"
            class="input"
          />
          <input
            type="text"
            required
            name="number"
            maxlength="50"
            placeholder="Mobile No."
            class="input"
          />
          <button type="submit" class="btn">Save</button>
          <button type="button" class="btn" id="edit-profile-btn">
            Edit Profile
          </button>
        </form>
      </section>
    </div>

    <script src="script.js"></script>
  </body>
</html>
