<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
</head>
<link rel="stylesheet" href="/static/style.css">

<body>
    <div class="success-message">
        <h1>Registration Successful!</h1>
        <img src="/static/succes_register.svg" alt="success image">
        <p>Thank you for registering!</p>
        <a href="/register" style="font-size: large;">Register Again</a>
    </div>
</body>

</html>